@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background: #181818;
}

button {
    @apply flex flex-row items-center justify-center px-[12px] py-[13px] bg-[#ffffff] rounded-[4px] transition-colors duration-300;
}

button:hover {
    @apply bg-[#121212] border-[1px] border-white text-white;
}


button.outline {
    @apply px-[10px] py-[8px] border-white text-white bg-transparent rounded-[20px];
}

button.outline:hover {
    @apply bg-[#ffffff] text-black;
}

button.contained {
    @apply px-[10px] py-[8px] bg-white text-black rounded-[20px];
}

button.contained:hover {
    @apply border-white text-white bg-transparent;
}

input {
    @apply w-full px-2 py-2 rounded-[6px] outline-[#FF9B33]  border-white border-[3px] focus:border-[#FF9B33];
}

.slider-container {
    @apply w-full
}

.slider-bar {
    @apply w-full h-[8px] rounded-[8px] relative cursor-pointer;
    background-color: rgba(255, 255, 255, 0.3);
}

.active-bar {
    @apply absolute bg-teal-600 rounded-l-[8px] h-[8px] cursor-pointer;
    background: linear-gradient(90deg, rgba(255, 92, 1, 1) 0%, rgba(255, 210, 95, 1) 100%);
}

.active-bullet {
    @apply w-[25px] h-[25px] rounded-full relative cursor-pointer;
    top: 50%;
    transform: translate(-50%, -50%);
}

.active-bullet circle {
    fill: #1B1B1B;
}

.active-bullet circle:hover {
    fill: white;
}

.slider-number {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    color: darkgray;
}

.slider-number div {
    text-align: left;
    font-family: 'Ubuntu', serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
}

.slider-number div:first-child {
    @apply text-left;
}

.slider-number div:last-child {
    @apply text-right;
}

.navbar {
    @apply p-4;
    @apply md:w-[80px] md:bg-[#1B1B1B] md:h-screen;
}

.logo-container {
    @apply flex h-[70px] items-center;
    @apply md:justify-center md:h-[80px]
}

.menu-container {
    @apply h-[70px] w-full flex justify-center gap-[35px] items-center fixed bottom-[0];
    @apply md:flex-col md:relative md:gap-0 md:h-full md:justify-start md:gap-[30px];
    background: rgba(24, 24, 24, 0.2);
    box-shadow: inset 0px 0.5px 0px rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(27.1828px);
}

.logo-icon {
    @apply w-[35px] h-[15px] cursor-pointer
}


.nav-icon {
    @apply cursor-pointer;
    fill: gray;
    height: 24px;
    width: 24px;
}

.nav-icon.active {
    fill: white;
}
